$content-size-bit-1: 2px;
$content-size-bit-2: 5px;
$content-size-bit-3: 8px;

$content-size-small-1: 30px;
$content-size-small-2: 40px;
$content-size-small-3: 50px;

$content-size-medium-1: 100px;

$unit-size-small-1: 15px;
$unit-size-small-2: 20px;
$unit-size-small-3: 25px;

$gap-size-1: 5px;
$gap-size-2: 10px;
$gap-size-3: 15px;

$font-size-small-1: 10px;
$font-size-small-2: 12px;
$font-size-small-3: 15px;
