$theme: (
    black1: #09090b,
    black2: #18181b,
    black3: #27272a,

    gray1: #3f3f46,
    gray2: #52525b,
    gray3: #71717a,

    white1: #e4e4e7,
    white2: #f4f4f5,
    white3: #fafafa,

    accent: #7c3aed,
    
    red: #e11d48,
    green: #0d9488,
    blue: #0284c7,
    yellow: #d97706,
);

$black1: map-get($theme, black1);
$black2: map-get($theme, black2);
$black3: map-get($theme, black3);

$gray1: map-get($theme, gray1);
$gray2: map-get($theme, gray2);
$gray3: map-get($theme, gray3);

$white1: map-get($theme, white1);
$white2: map-get($theme, white2);
$white3: map-get($theme, white3);

$red: map-get($theme, red);
$yellow: map-get($theme, yellow);
$green: map-get($theme, green);
$blue: map-get($theme, blue);
$accent: map-get($theme, accent);
